<!DOCTYPE html>
<html>
<head>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  float: left;
  width: 33%

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


</style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
</head>
<body onload="loadDoc()">

<div id="test">
<h2>Data</h2>
</div>

<canvas id="myChart"  width="400" height="400"  role="img" aria-label="Bar Chart" style="border:1px solid #000000;"></canvas>


<div id="demo">
</div>


<script src="init.js"></script>

</body>
</html>
